 <%# --- Start footer --- %>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Start Form -->
    <!-- Section: End Form -->
    <!-- Section: Social media -->
    <section class="mb-1">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/profile.php?id=100003208155637"
        role="button"
        target='_blank'
        data-mdb-ripple-color="dark"
        ><i class="fa fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        target='_blank'
        data-mdb-ripple-color="dark"
        ><i class="fa fa-twitter"></i>
      </a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="adelsaleh46@gmail.com"
        role="button"
        target='_blank'
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i>
      </a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        target='_blank'
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i>
      </a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/AdelAbuSaleh"
        target='_blank'
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i>
      </a>

    </section>
    <!-- End Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    <small class="d-block mb-3 text-muted">Adel Saleh &copy;
            <script>
              var currentDate  = new Date();
              document.write(currentDate.getFullYear());
             </script>
    </small>
  </div>
  <!-- Copyright -->
</footer>
<!-- End footer -->
