<!-- Start -->
<!-- Title section -->
  <div class="text-center">
    <h1> Simple Blogs </h1>
    <p> I hope you benefit from this blog!</p> 
  </div>
<!-- End Title section -->
<!-- --- -->
<!-- Blogs section -->
  <% Post.all.with_rich_text_body_and_embeds.limit(5).each do |post| %>
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.title %></p>
        <td><%= link_to 'Read More', post, method: :get %></td>
      </div>
    </div>
  <% end %>
  <!-- End Blogs section -->
  <!-- End -->
