<!-- Start Home Page -->
<!-- Start image container -->
<div class="image-container">
  <div image-content>
  </div>
</div>
<!-- End image container -->
<!-- End image container -->

<!-- Start content after image -->
<div>
</div>
<!-- End content after image -->
<!-- End Home Page -->
