<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>It's from <%= @params[:email] %></h3>
    <h2>His name is : <%= @params[:name] %></h2>
    <p>
      <%= @params[:message] %>
    </p>
  </body>
</html>
